<div id="aviso">
    <h2>Aviso Legal JoinElderly</h2>
    <p>
        Estas Condiciones Generales se aplicarán tanto a la actividad promocional y de suministro de información que se efectúa a través del Portal como a la prestación de los servicios ofrecidos en el Portal, de tal manera que las mismas regirán en todo momento tanto para la simple navegación por el Portal, como para la adquisición de bienes y/o a la prestación de servicios en el marco del Portal, si bien estas últimas actividades adicionalmente, se someterán tanto a estas Condiciones Generales de Uso, como a las condiciones generales de contratación aplicables, y las condiciones particulares, que en su caso, pudieran existir.
    </p>
    <h3>1. POLÍTICA DE PROTECCIÓN DE DATOS DE CARÁCTER PERSONAL</h3>
    <p>
        1.1 A los efectos de lo dispuesto en la Ley Orgánica 15/1999, de 13 de Diciembre, de Protección de Datos de Carácter Personal, JoinElderly informa al Usuario de la existencia de un fichero de datos de carácter personal creado con los datos obtenidos en el Portal por y para CENTROS COMERCIALES JoinElderly, y bajo su responsabilidad, con las finalidades de información y prestación de los servicios ofrecidos en el Portal, así como la realización de actividades promocionales y publicitarias mediante cualquier medio, incluyendo el envío de correos electrónicos y de mensajes a través de cualquier sistema incluyendo SMS, UMTS, etc., que puedan ser de su interés para ampliar y mejorar nuestros productos, adecuando nuestras ofertas a sus preferencias o necesidades, a partir del estudio y segmentación de la información personal y comercial que conste en nuestros ficheros como consecuencia de su acceso al Portal, así como para permitir una navegación personalizada.
        <br>
        1.2. El Usuario acepta expresamente la inclusión de los datos recabados durante la navegación por el Portal, o proporcionados mediante la cumplimentación de cualquier formulario, así como los derivados de la relación comercial, en el fichero automatizado de datos de carácter personal referido en el apartado primero. Durante el proceso de recogida de datos, y en cada lugar del Portal en el que se soliciten dichos datos, el Usuario será informado, ya sea mediante un hyperlink, ya sea mediante la inclusión de las menciones oportunas en el propio formulario, del carácter obligatorio o no de recogida de tales datos para la entrega de los Productos excepto la realización de pedidos en cuyo caso JoinElderly informa desde este momento al Usuario que no se considerará de carácter voluntario, por lo que será necesaria su inclusión para la formalización de la prestación de los servicios, proporcionar los datos relativos a la identidad, domicilio y número de tarjeta de crédito para realizar el pago, al ser estos datos necesarios para la formalización y prestación de los distintos servicios ofrecidos en el Portal.
        <br>
        1.3 El Usuario podrá ejercitar, respecto de los datos recabados en la forma prevista en el apartado anterior, los derechos reconocidos en la Ley Orgánica 15/1999, y en particular los derechos de acceso, rectificación o cancelación de datos y oposición, siempre que resultase pertinente, así como el de revocación del consentimiento para la cesión de sus datos o para cualquiera de los usos antes señalados. Los derechos referidos en el párrafo precedente, podrán ejercitarse por cada Usuario a través de un Formulario de solicitud de cancelación. Haga clic aquí para descargar el Formulario. La solicitud escrita y firmada podrá enviarla por correo a la siguiente dirección: joinelderly@gmail.com
        <br>
        1.4. JoinElderly informa que para el acceso por parte del usuario a alguna parte de los Contenidos o servicios ofertados en el Portal, puede ser necesaria la previa cumplimentación de formularios de alta, o similar, en los que se le solicite al usuario la introducción de datos de carácter personal. Asimismo, es posible que JoinElderly active programas "cookies" mediante los cuales se reconozca al usuario con el ánimo de mejorar los servicios que presta.
        <br>
        Se informa al Usuario que dicha cesión tendrá lugar en el acto de recogida de los datos personales. El Usuario tiene respecto de los datos personales aportados, los derechos de acceso, oposición, rectificación y cancelación, los cuales podrá hacer efectivos ante el titular del fichero o cualquiera de los cesionarios en la siguiente dirección: Apartado de Correos 1002, 28108 Alcobendas (Madrid), adjuntando fotocopia del DNI del Usuario.
        <br>
        1.5 JoinElderly se compromete en la utilización de los datos incluidos en el fichero anteriormente referido, a respetar su confidencialidad y a utilizarlos de acuerdo con la finalidad del fichero, así como a dar cumplimiento a su obligación de guardarlos y adaptar todas las medidas para evitar la alteración, pérdida, tratamiento o acceso no autorizado, de acuerdo con lo establecimiento en el Real Decreto 1720/2007, de 21 de diciembre, por el que se aprueba el Reglamento de desarrollo de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal.
        <br>
        1.6. Respecto del servicio de recogida y tratamiento de curriculums que ofrece JoinElderly en el Portal, bien directamente en la página principal a través de enlaces a otras páginas del Grupo JoinElderly antes identificado y en relación con los datos personales que contengan dichos curriculns, les informamos que la remisión de los mismos por Ud. supone su autorización y consentimiento expreso a JoinElderly, para la utilización de los datos que aporte o pueda aportar en el futuro, para su tratamiento con el único y exclusivo objeto de considerar tales datos para cualquier proceso de selección de personal y candidatos que cualesquiera empresas de la señaladas en el anterior punto 1.5 puedan requerir, motivo por el cual la precitada aceptación de las presentes condiciones implica su consentimiento expreso para la comunicación de los datos aportados o que pueda aportar en el futuro, a cualesquiera de las identificadas compañías para tales fines así como para su análisis al objeto de seleccionarlos en orden a su mejor adecuación a las posibles necesidades de personal de tales compañías existentes en cada momento.
        <br>
        JoinElderly garantiza el secreto y confidencialidad de tales datos, en idénticos términos a los previstos en la presente condición, siendo asimismo de aplicación lo previsto en la misma respecto de los usos y finalidades de los datos y el ejercicio de los derechos de sus titulares.
        <br>
        La remisión de su currículo con las circunstancias personales y profesionales, implica su obligación de comunicar cualquier alteración o modificación de los mismos a fin de garantizar al titular del fichero que tales datos se encuentran en todo momento actualizados y, todo ello, sin perjuicio de su derecho a revocar el consentimiento otorgado respecto de la inclusión de tales datos o respecto de cualquiera de los tratamientos aquí previstos.
    </p>
    <h3>2. PROPIEDAD INTELECTUAL E INDUSTRIAL. PROHIBICIÓN DE HIPERENLACES</h3>
    <p>
        2.1 Todos los contenidos que se muestran en el Portal y en especial, diseños, textos, gráficos, logos, iconos, botones, software, nombres comerciales, marcas, dibujos industriales o cualesquiera otros signos susceptibles de utilización industrial y comercial están sujetos a derechos de propiedad intelectual e industrial de JoinElderly o de terceros titulares de los mismos que han autorizado debidamente su inclusión en el Portal.
        <br>
        2.2 En ningún caso se entenderá que se concede licencia alguna o se efectúa renuncia, transmisión, cesión total o parcial de dichos derechos ni se confiere ningún derecho ni expectativa de derecho, y en especial, de alteración, explotación, reproducción, distribución o comunicación pública sobre dichos contenidos sin la previa autorización expresa de JoinElderly o de los titulares correspondientes.
        <br>
        2.3 No se podrá establecer ningún vínculo al Portal desde cualquier otra web sin el previo y expreso consentimiento de JoinElderly
    </p>
    <h3>3. RESPONSABILIDAD DE JoinElderly.</h3>
    <p>
        3.1 JoinElderly responderá de los daños y perjuicios que el Usuario pueda sufrir como consecuencia de la utilización del Portal cuando dichos daños sean directamente imputables a una actuación dolosa o negligente de esta compañía y en la actuación del Usuario no concurriera culpa o negligencia. No existirá, en cualquier caso, actuación dolosa o negligente por parte de JoinElderly cuando pruebe que ha cumplido las exigencias y requisitos legal y reglamentariamente establecidos y los demás cuidados y diligencias que exige la naturaleza del servicio. 
        <br>
        Los servicios de la sociedad de la información ofrecidos en el Portal y no sometidos a contratación previa son ofrecidos al usuario sin contrapartida alguna y únicamente conllevan para el usuario la obligación de cumplir las normas de uso establecidas en este Aviso Legal. JoinElderly no tiene, por tanto, respecto de estos servicios, obligación de cumplir determinados niveles de disponibilidad del Portal ni adoptar medidas de seguridad específicas. Del mismo modo, JoinElderly podrá suspender, retirar o cancelar parcial o totalmente los servicios no sometidos a contratación en cualquier momento y sin necesidad de aviso previo. La previsión anterior no afectará a aquellos servicios que están reservados para usuarios registrados o que son objeto de contratación previa y que se regirán por sus condiciones específicas. 
        <br>
        La conexión a Internet necesaria para acceder al servicio no es en ningún caso suministrada por JoinElderly y es responsabilidad del Usuario. Se informa al Usuario de que las comunicaciones a través de redes abiertas no son seguras. Es responsabilidad del Usuario adoptar todas las medidas técnicas adecuadas para controlar razonablemente estos riesgos y evitar daños en sus equipos, pérdida de datos y robo de información confidencial. A estos efectos, debe tener sistemas actualizados de detección de software malicioso, tales como virus, troyanos, etc., así como tener actualizados los parches de seguridad de los correspondientes navegadores que utilice. Para más información puede acudir a su Proveedor de Servicios de Acceso a Internet que podrá facilitarle más información.
        <br>
        3.2 JoinElderly no se hace responsable de los perjuicios que se pudieran derivar de, con carácter meramente enunciativo y no limitativo (i) Inferencias, omisiones, interrupciones, virus informáticos, averías y/o desconexiones en el funcionamiento operativo de este sistema electrónico o en los aparatos y equipos informáticos de los Usuarios, motivadas por causas ajenas a JoinElderly, que impidan o retrasen la prestación de los servicios o la navegación por el Sistema; (ii) Retrasos o bloqueos en el uso causados por deficiencias o sobrecargas de Internet o en otros sistemas electrónicos; (iii) Que puedan ser causados por terceras personas mediante intromisiones ilegítimas fuera del control de la Tienda y que no sean atribuibles a JoinElderly; (iv) De la imposibilidad de dar el Servicio o permitir el acceso por causas no imputables a JoinElderly, debidas al Usuario, a terceros, o a supuestos de fuerza mayor.
        <br>
        3.4 JoinElderly no controla, con carácter general, la utilización que los Usuarios hacen del Portal. En particular JoinElderly no garantiza bajo ningún extremo que los Usuarios utilicen el Portal de conformidad con la ley, las presentes Condiciones Generales, la moral y buenas costumbres generalmente aceptadas y el orden público, ni tampoco que lo hagan de forma diligente y prudente.
    </p>
    <h3>4. OBLIGACIONES DEL USUARIO</h3>
    <p>
        4.1 Con carácter general el Usuario se obliga al cumplimiento de las presentes Condiciones Generales de Uso, en su caso las Condiciones Particulares que fueran de aplicación, así como cumplir las especiales advertencias o instrucciones de uso contenidas en las mismas o en el Portal y obrar siempre conforme a la ley, a las buenas costumbres y a las exigencias de la buena fe, empleando la diligencia adecuada a la naturaleza del servicio del que disfruta, absteniéndose de utilizar el Portal de cualquier forma que pueda impedir, dañar o deteriorar el normal funcionamiento del mismo, los bienes o derechos de JoinElderly, sus proveedores, el resto de Usuarios o en general de cualquier tercero.
        <br>
        4.2 Concretamente, y sin que ello implique restricción alguna a la obligación asumida por el Usuario con carácter general de conformidad con el apartado anterior, el Usuario se obliga, en la utilización del Portal, así como en la prestación de los servicios a: 
    <p id="subapar">
        (i) En el caso de registrarse, el Usuario se obliga a proporcionar verazmente los datos proporcionados y a mantenerlos actualizados; 
        <br>
        (ii) No introducir, almacenar o difundir en o desde el Portal, cualquier información o material que fuera difamatorio, injurioso, obsceno, amenazador, xenófobo, incite a la violencia a la discriminación por razón de raza, sexo, ideología, religión o que de cualquier forma atente contra la moral, el orden público, los derechos fundamentales, las libertas públicas, el honor, la intimidad o la imagen de terceros y en general la normativa vigente. ; 
        <br>
        (iii) No introducir, almacenar o difundir mediante el Portal ningún programa de ordenador, datos, virus, código, equipo de hardware o de telecomunicaciones o cualquier otro instrumento o dispositivo electrónico o físico que sea susceptible de causar daños en el Portal, en cualquiera de los Servicios, o en cualquiera de los equipos, sistemas o redes de JoinElderly, de cualquier Usuario, de los proveedores de JoinElderly o en general de cualquier tercero, o que de cualquier otra forma sea capaz de causarles cualquier tipo de alteración o impedir el normal funcionamiento de los mismos; 
        <br>
        (iv) a custodiar adecuadamente el "Nombre de Usuario" y la "Contraseña" que le sea facilitada por JoinElderly a los Usuarios, como elementos identificadores y habilitadores para el acceso a los distintos servicios ofertados en el Portal, comprometiéndose a no ceder su uso ni a permitir el acceso a ellos de terceros, asumiendo la responsabilidad por los daños y perjuicios que pudieran derivarse de un uso indebido de los mismos. Igualmente el usuario se compromete a comunicar a JoinElderly, con la mayor rapidez, su pérdida o robo así como cualquier riesgo de acceso al "Nombre de Usuario" y/o la "Contraseña" por un tercero; (v) No realizar actividades publicitarias, promocionales o de explotación comercial a través del Portal, no utilizando los contenidos y en particular la información obtenida a través del Portal para remitir publicidad, enviar mensajes con fines de venta directa o con cualquier otro fin comercial, ni para recoger o almacenar datos personales de terceros; 
        <br>
        (vi) No utilizar identidades falsas, ni suplantar la identidad de otros en la utilización del Portal o en la utilización de cualquiera de los servicios del Portal, incluyendo la utilización en su caso de contraseñas o claves de acceso de terceros o de cualquier otra forma; (vii) No destruir, alterar, utilizar para su uso, inutilizar o dañar los datos, informaciones, programas o documentos electrónicos de JoinElderly, sus proveedores o terceros; (viii) No introducir, almacenar o difundir mediante el Portal cualquier contenido que infrinja derechos de propiedad intelectual, industrial o secretos empresariales de terceros, ni en general ningún contenido del cual no ostentara, de conformidad con la ley, el derecho a ponerlo a disposición de tercero.
    </p>
</p>
<h3>5. COMUNICACIONES.</h3>
<p>
    A los efectos de las presentes Condiciones Generales, y para cualquier comunicación que sea precisa entre JoinElderly y el Usuario, éstos deberán dirigirse al Servicio de Atención al Cliente mediante correo electrónico (enviado un mensaje a sugerencias.es@carrefour.com o bien mediante comunicación escrita dirigida al Departamento de Atención al Cliente de JoinElderly, Ctra. de Burgos, Km. 14,5 Alcobendas 28108).
    <br>
    Las comunicaciones de JoinElderly al Usuario se realizarán conforme a los datos aportados por éste al registrarse en el Portal.
    <br>
    El Usuario acepta expresamente y para todas las comunicaciones relacionadas con la utilización del Portal, y/o la contratación de los servicios en él ofertados, la utilización del correo electrónico como procedimiento válido para la remisión de dichas comunicaciones.
</p>
<h3>6. QUEJAS Y RECLAMACIONES</h3>
<p>
    El Usuario podrá solicitar las hojas de quejas y reclamaciones en cada una de nuestras tiendas. Puede consultar aquí el más cercano a su domicilio.
    <br>
    El Usuario podrá interponer cualquier queja o reclamación en la dirección de correo electrónico joinelderly@gmail.com.
</p>
</div>

