
<link rel="stylesheet" type="text/css" href="frontend/modules/main/view/css/style.css" />

<div id="wowslider-container1">
    <div class="ws_images"><ul>
            <li><img src="frontend/modules/main/view/media/images/relacionate.jpg" alt="Relaciónate" title="Relaciónate" id="wows1_0"/></li>
            <li><img src="frontend/modules/main/view/media/images/vivemejor.jpg" alt="Vive mejor" title="Vive mejor" id="wows1_1"/></li>
            <li><img src="frontend/modules/main/view/media/images/salir.jpg" alt="Sal con más gente" title="Sal con más gente" id="wows1_2"/></li>
            <li><img src="frontend/modules/main/view/media/images/diviertete.jpg" alt="Diviértete" title="Diviértete" id="wows1_3"/></li>
        </ul></div>
    <div class="ws_bullets"><div>
            <a href="#" title="Relaciónate"><span><img src="frontend/modules/main/view/media/tooltips/relacionate.jpg" alt="Relaciónate"/>1</span></a>
            <a href="#" title="Vive mejor"><span><img src="frontend/modules/main/view/media/tooltips/vivemejor.jpg" alt="Vive mejor"/>2</span></a>
            <a href="#" title="Sal con más gente"><span><img src="frontend/modules/main/view/media/tooltips/salir.jpg" alt="Sal con más gente"/>3</span></a>
            <a href="#" title="Diviértete"><span><img src="frontend/modules/main/view/media/tooltips/diviertete.jpg" alt="Diviértete"/>4</span></a>
        </div></div>
    <div class="ws_shadow"></div>
</div>	
<script type="text/javascript" src="frontend/modules/main/view/js/wowslider.js"></script>
<script type="text/javascript" src="frontend/modules/main/view/js/script.js"></script>
<!--
<link rel="stylesheet" type="text/css" href="frontend/modules/main/view/css/movingboxes.css" />
<script type="text/javascript" src="frontend/modules/main/view/js/jquery.movingboxes.js"></script>
<link rel="stylesheet" type="text/css" href="frontend/modules/main/view/css/slider.css" />
<script type="text/javascript" src="frontend/modules/main/view/js/slider.js"></script>
<!-- End Slider Comentarios -->


<!-- One -->
<section id="one" class="wrapper style1 special">
    <div class="container">
        <header class="major">
            <h2>JoinElderly.com</h2>
            <p>Tu página para buscar, conocer y encontrar una nueva forma de atención.</p>
        </header>
        <div class="row 150%">
            <div class="4u 12u$(medium)">
                <section class="box">
                    <a href="#/ofertas"> <img id="img_contact" src="frontend/modules/main/view/media/buscar.jpg" alt="120" width="120"></a>
                    <h3>Busca acompañante</h3>
                    <p>Encuentra las mejores personas para que te acompañen o unete a un grupo con más gente de tu edad.</p>
                </section>
            </div>
            <div class="4u 12u$(medium)">
                <section class="box">
                    <a href="#/trabaja"> <img id="img_contact" src="frontend/modules/main/view/media/trabaja.png" alt="120" width="120"></a>
                    <h3>Únete a nosotros</h3>
                    <p>No te quedes encerrado en casa, únete a nosotros, sal a la calle y empieza a relacionarte con gente, nunca ha sido tan fácil como ahora.</p>
                </section>
            </div>
            <div class="4u$ 12u$(medium)">
                <section class="box">
                    <a href="#/contact"><img id="img_contact" src="frontend/modules/main/view/media/logo-contact.png" alt="120" width="120"></a>
                    <h3>Contacta con nosotros</h3>
                    <p>Para cualquier duda, sugerencia o problema solo necesitas rellenar estos campos y ya estará todo hecho, cuanto más simple, mejor.</p>
                </section>
            </div>
        </div>
    </div>
</section>

<!-- Two 
<section id="two" class="wrapper style2 special">
    <div class="container">
        <header class="major">
            <h2>Comentarios</h2>
            <p>¿Qué dice la gente sobre nosotros?</p>
        </header>
        <section class="profiles">
            <div class="row">
                <ul id="slider">

                    <li>
                        <img src="frontend/modules/main/view/media/avatar_chico.png" alt="picture" />
                        <h4>Vicent</h4>
                        <p>Mi padre se lo paso genial y hizó nuevos amigos </p>
                    </li>

                    <li>
                        <img src="frontend/modules/main/view/media/avatar_chica.png" alt="picture" />
                        <h4>Raquel</h4>
                        <p>Deje a mi padre por primera vez y me encantó el trato que tuvieron con él </p>
                    </li>

                    <li>
                        <img src="frontend/modules/main/view/media/avatar_chico.png" alt="picture" />
                        <h4>Raúl</h4>
                        <p>Mi madre ha estado muy bien y acompañada por otras mujeres de su misma edad  </p>
                    </li>

                    <li>
                        <img src="frontend/modules/main/view/media/avatar_chica.png" alt="picture" />
                        <h4>Ana</h4>
                        <p>Mi padre se lo ha pasó genial con la excursión que hicieron y estoy muy contenta con el trato que te dan </p>
                    </li>

                    <li>
                        <img src="frontend/modules/main/view/media/avatar_chica.png" alt="picture" />
                        <h4>Lucia</h4>
                        <p>Deje a mi madre por primera vez con este servicio y no me arrepiento para nada ya que la han cuidado muy bien </p>
                    </li>

                    <li>
                        <img src="frontend/modules/main/view/media/avatar_chico.png" alt="picture" />
                        <h4>Miguel</h4>
                        <p>Gracias a este servicio puedo dejar a mi padre en buenas manos donde no le faltara de nada y además se lo pasará muy bien </p>
                    </li>

                </ul>
            </div>
    </div>
</section>-->