<div id="politica">
    <h2>POLÍTICA DE PRIVACIDAD JoinElderly</h2>

    <p>
        1. Antes de inscribirse en JoinElderly y convertirse en un usuario de la plataforma de JoinElderly, titularidad de JoinElderly Ltd. (en adelante, "JoinElderly"),Vd. debe leer esta Política de Privacidad y Protección de Datos Personales (en adelante "Política de Privacidad")
    </p>

    <p>
        2. A continuación y en cumplimiento de la Ley 15/1999 de 13 de diciembre de 1999 de protección de datos de carácter personal (en adelante, LOPD) y el Real Decreto 1720/2007 que aprueba el Reglamento de desarrollo de la LOPD le informamos de la política de privacidad de JoinElderly.
    </p>

    <p>
        3.Todos los datos de carácter personal incluidas las imágenes que Vd nos facilite cuando se registra y/o crea un perfil (o “anuncio de Anfitrión”), así como al acceder a los servicios disponibles en JoinElderly o por cualquier otro medio que JoinElderly ponga a su disposición, formarán parte de un fichero titularidad de JoinElderly, S.L.
    </p>

    <p>
        4. Sin perjuicio de lo anterior, JoinElderly le informa que toda la información y datos de carácter personal puede ser tratada con las siguientes finalidades específicas que indicamos:
        <br>
        (i) Para personalizar su experiencia (su información nos ayuda a mejorar el servicio según sus necesidades individuales
        <br>
        (ii) Para mejorar nuestros productos (nos esforzamos continuamente para mejorar nuestra plataforma basado en la información y las respuestas que recibimos de usted)
        <br>
        (iii) Para mejorar nuestro servicio al cliente (su información nos ayuda a responder más eficazmente a cualquier solicitud o petición de soporte que nos haga).
        <br>
        (iv) Para procesar las transacciones Su información, ya sea pública o privada, no será cedida , , intercambiada, transferida o tramitada a ninguna otra empresa por cualquier motivo sin su consentimiento, excepto con el expreso propósito de entregar el servicio solicitado. Su número de teléfono y dirección de correo electrónico será compartido con cualquier usuario con quien usted tiene una reserva confirmada. Ninguna de las personas involucradas en la transacción tiene el derecho de compartir estos datos con un tercero
        <br>
        (vi) Para administrar concursos, promociones y encuestas
        <br>
        La dirección de correo electrónico y número de teléfono que nos proporciona podrá ser utilizada por otros miembros que quieran contactarle y también por JoinElderly para el envío de información, para responder a preguntas, y / u otras peticiones que nos haga.
    </p>

    <p>
        5. Asimismo, JoinElderly le podrá remitir periódicamente comunicaciones comerciales de las ofertas y productos de sectores tales como actividades que se realizaran en una fecha determinada, nuevos sitios ha visitar, nuevos ofertantes ... . En caso de no desear recibir las comunicaciones comerciales señaladas le rogamos lo comunique a la siguiente dirección de correo electrónico joinelderly@gmail.com
    </p>

    <p>
        6. En cualquier momento Vd. puede ejercer su derecho de acceso, rectificación, oposición o cancelación, remitiendo un escrito indicando el derecho que desea ejercer adjuntando copia de su Documento Nacional de identidad u otro documento oficial identificativo a la dirección arriba indicada o a la dirección de correo electrónica joinelderly@gmail.com
    </p>

    <p>
        7. JoinElderly garantiza la confidencialidad de los datos de carácter personal y de toda la información que recabe de los usuarios e implementará las medidas de seguridad que estime oportunas para garantizar la seguridad de los datos.
    </p>

    <p>
        8. JoinElderly pone en conocimiento de los usuarios que ha adoptado las medidas de índole técnica y organizativas reglamentariamente establecidas, que garantizan la seguridad de los datos de carácter personal y evitan su alteración, pérdida, tratamiento o acceso no autorizado, habida cuenta del estado de la tecnología, la naturaleza de los datos

        <br>
        ¿Para qué utilizamos su información?
        <br>
        Toda la información que obtenemos de usted puede ser usada en las siguientes maneras: - Para personalizar su experiencia (su información nos ayuda a mejorar el servicio según sus necesidades individuales) - Para mejorar nuestros productos (nos esforzamos continuamente para mejorar nuestra plataforma basado en la información y las respuestas que recibimos de usted)
        <br>
        - Para mejorar nuestro servicio al cliente (su información nos ayuda a responder más eficazmente a cualquier solicitud o petición de soporte que nos haga).
        <br>
        - Para procesar las transacciones Su información, ya sea pública o privada, no será vendida, intercambiada, transferida o tramitada a ninguna otra empresa por cualquier motivo sin su consentimiento, excepto con el expreso propósito de entregar el servicio solicitado. Su numero de telefono y direccion de correo electrónico será compartido con cualquier usuario con quien usted tiene una reserva confirmada. Ninguna de las personas involucradas en la transacción tiene el derecho de compartir estos datos con un tercero.
        <br>
        - Para administrar concursos, promociones y encuestas
        <br>
        - Para enviar correos electrónicos periódicos.
        <br>
        La dirección de correo electrónico y número de teléfono que nos proporciona podrá ser utilizada por otros miembros que quieran contactarle y también por JoinElderly para el envío de información, para responder a preguntas, y / o otras peticiones que nos haga.
    </p>

    <p>
        9. JoinElderly ofrece el uso de un servidor seguro. Los datos confidenciales de pago son encriptados (SSL) y tramitados directamente por nuestro proveedor de pasarela de pago online. Dicho proveedor es aprobado por una entidad financiera (Banco) registrado en el Registro Mercantil de España. Esta información es únicamente accesible por las entidades o personas autorizadas y con el permiso de acceso a dichos sistemas, estando obligados a mantener la información confidencial en cada momento.
    </p>

    <p>
        10. Después de una transacción, su información privada (información de perfil, tarjetas de crédito, historial de actividad, etc) se mantendrá en archivo durante el tiempo en que tenga su perfil registrado en JoinElderly.
    </p>

    <p>
        11. El usuario acepta de forma expresa que su número de teléfono y dirección de correo electrónico sea compartida con un anfitrión o dueño del perro con quien usted tiene una reserva confirmada. Esto es para facilitar y simplificar el intercambio y la prestación del servicio contratado a través de la plataforma JoinElderly.
    </p>

    <p>
        12. El usuario se compromete a hacer un uso confidencial y dirigido exclusivamente a las finalidades previstas por JoinElderly de los datos de carácter personal que se pongan a su disposición para llevar a cabo o recibir la prestación de servicio. La información de contacto obtenida de esta manera no puede ser publicada o compartida con terceros no relacionados directamente con la realización de la transacción
    </p>

    <p>
        13.Usted puede cerrar y eliminar su cuenta (e información asociada) en cualquier momento escribiendo a joinelderly@gmail.com
    </p>

    <h3>14. JoinElderly utiliza Cookies.</h3>
    <p>
        Las cookies son pequeños archivos que un sitio o su proveedor de servicios transfiere al disco duro del ordenador mediante el navegador Web (si lo permiten) y que permite a los sitios o sistemas de proveedores de servicios reconocer su navegador, capturar y guardar cierta información.
        <br>
        JoinElderly utiliza cookies para entender y guardar tus preferencias para visitas futuras y recopilar datos agregados sobre el tráfico y la interacción en el sitio, para que podamos proporcionar unas mejores experiencias de navegación y nuevas herramientas. JoinElderly se reserva el derecho de contratar proveedores de servicios externos con la finalidad de que nos ayuden a interpretar de mejor forma la conducta e información de los usuarios de nuestros productos. Dichos proveedores de servicios externos, no están autorizados a utilizar la información recopilada en nuestro nombre, salvo que estos servicios nos ayuden a llevar a cabo tareas de análisis necesarias y mejorar nuestro negocio.
        <br>
        Si lo prefiere, puede elegir que su ordenador le advierta cada vez que se envía una “cookie”, o puede elegir de desactivar todas las cookies en el apartado de configuración de su navegador web. Al igual que la mayoría de los sitios web, la eliminación de cookies puede causar que algunos de nuestros servicios no funcionen correctamente. Sin embargo, si tuviera algún problema de navegación, puede contactar con nuestro centro de soporte en: joinelderly@gmail.com
    </p>

    <p>
        15. JoinElderly NO vende, comercializa, o transferimos sus datos personales a terceros.
    </p>

    <h3>16. Enlaces de terceros</h3>
    <p>
        Podemos incluir u ofrecer productos o servicios de terceros en nuestro sitio web. Estos sitios de terceros pueden tener políticas de privacidad propias e independientes. Por lo tanto, JoinElderly no asume ninguna responsabilidad ni obligación por los contenidos y actividades generados por estos enlaces. Es primordial para nosotros proteger la integridad de nuestro sitio y agradecemos cualquier comentario sobre las actividades de estos sitios enlazados.
    </p>

    <h3>17. Menores de edad</h3>
    <p>
        Como se describe en nuestros términos y condiciones del servicio, el uso del sito está dirigido a mayores de DIECIOCHO (18) años. Los menores de esta edad deberán contar con la autorización de sus representantes legales.
    </p>

    <h3>18.Términos y condiciones</h3>
    <p>
        Le rogamos visite nuestra sección de Términos y Condiciones donde se establece el uso, las renuncias y limitaciones de responsabilidad que rigen el uso de nuestro sitio web.
    </p>

    <h3>19. Modificaciones de la Política de Privacidad</h3>
    <p>
        Si JoinElderly modifica la política de privacidad, publicaremos los cambios en esta página, y / o le enviaremos un correo electrónico informándole de cualquier cambio.
    </p>

    <h3>20. Envíenos un mensaje</h3>
    <p>
        Si tiene alguna pregunta sobre esta política de privacidad, puede contactarnos en: joinelderly@gmail.com
        <br>
        Política de Cookies
        <br>
        Este sitio web puede utilizar cookies para poder ofrecerle una navegación más rápida y mejorar su experiencia de usuario.
        <br>
        Las cookies son pequeños dispositivos de almacenamiento y recuperación de datos que se instalan en su equipo informático con la finalidad expresada; en ningún caso nuestras cookies tratarán datos personales o que comprometan su privacidad.
        <br>
        Si decide no aceptar nuestras cookies, podrá continuar utilizando nuestro sitio web de la forma habitual, aunque es posible que su experiencia de usuario se vea ligeramente perjudicada.
        <br>
        Su navegador, en ocasiones, puede generar un mensaje instantáneo que le brindará la posibilidad de oponerse a la instalación de estas cookies. En el supuesto que su navegador no le facilite esta posibilidad de forma automática, Vd. podrá inhibir la instalación de las mismas siguiendo las instrucciones de su navegador.
        <br>
        A continuación le describimos de forma sencilla los procesos necesarios para desinstalar o evitar la instalación de nuestras cookies en los principales navegadores. Estos procedimientos están sometidos a actualización o modificación por parte de los desarrolladores de los navegadores, por lo que no podemos garantizar que se ajusten completamente a la última versión disponible en cada momento.
        <br>
        <br>
        <span class="navegadores">Internet Explorer:</span>
        <br>
        En el menú "Herramientas > Opciones de Internet", diríjase a la pestaña "Privacidad", seleccione la configuración deseada y pulse el botón de configuración avanzada.
        <br>
        Activr la casilla "Sobreescribir la administración automática de cookies".
        <br>
        Marcr las casillas "Activar" o "Bloquear".
        <br>
        Recomendamos activar la opción "Aceptar siempre las cookies de sesión", para permitir una navegación óptima por nuestro sitio web.
        <br>
        <br>
        <span class="navegadores">Firefox:</span>
        <br>
        En el menú "Herramientas > Opciones", diríjase a la pestaña "Privacidad".
        <br>
        Active o desactive la casilla "Aceptar cookies de las webs" o “decir a los sitios web que no quiero ser rastreado”, dependiendo de la versión de su navegador.
        <br>
        También puede eliminar las cookies instaladas pulsando sobre la opción “eliminar cookies de forma individual”.
        <br>
        <br>
        <span class="navegadores">Chrome:</span>
        <br>
        En el menú "Herramientas > Configuración", dirígete a la pestaña "Privacidad > Configuración de contenido", tras seleccionar la opción “mostrar opciones avanzadas”.
        <br>
        Selecciona tu configuración de cookies favorita. Si no deseas permitir su instalación, puedes seleccionar la opción “bloquear los datos de sitios y las cookies de terceros”.
        <br>
        <br>
        <span class="navegadores">Opera:</span>
        <br>
        En el menú "Configuración > Opciones", dirígete a la pestaña "Avanzado". En el menú "Cookies" selecciona las opciones "Aceptar huellas" o "No aceptar cookies nunca".
        <br>
        Si deseas disponer de un mayor nivel de control sobre las cookies que se instalan en tu equipo, te recomendamos que selecciones la opción “preguntar antes de aceptar cookies”.
        <br>
        <br>
        <span class="navegadores">Safari:</span>
        <br>
        En el menú "Herramientas > Preferencias", dirígete a la pestaña "Seguridad".
        <br>
        En el menú "Aceptar cookies" seleccionar la casilla "Siempre" o "Nunca".
        <br>
        Si dispones de un móvil iphone, deberás acceder a “Configuración > Safari” y allí seleccionar si aceptas o no las cookies.
        <br>
        Si Vd. utiliza otro navegador, puede obtener más información sobre cómo configurar la instalación de las cookies a través de la sección de ayuda o asistencia de dicho navegador. Si necesita ayuda para llevar a cabo la configuración de las cookies con tu navegador, por favor, envíenos un e-mail a joinelderly@gmail.com y nos pondremos en contacto con Vd. lo antes posible con la información necesaria.
        <br>
    </p>
</div>

