<!-- Main -->
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>

<!--<script src="modules/ofertas/view/js/geolocator.js"></script>-->

<section id="main" class="wrapper">
    <div class="container">

        <header class="major">
            <h2>Ofertas</h2>
            <p>Aquí puedes ver las ofertas disponibles en tu zona</p>
        </header>

        Filtrar Ofertas: <input type="text" class="filtre" ng-model="filtro" ><hr>
        <div class="image fit">
            <div id='ubicacion'></div>
            <!-- Se escribe un mapa con la localizacion anterior-->
            <div id="demo">{{demo}}</div>
            <div id="mapholder"></div>
            <div class="ofertas" > 
                <div class="of"  ng-repeat="of in filteredOfertas| filter:filtro" id="{{of.id}}">
                    <div ng-click="select(of.id)">
                        <div class="desc">{{of.descripcion}}</div>
                        <div class="fecha"> Fecha: {{of.fecha_inicio}} - {{of.fecha_final}}</div>
                        <div class="hora"> Hora: {{of.hora_inicio}} - {{of.hora_final}}</div>
                        <div class="precio"> Precio: {{of.precio}} €</div>
                        <div class="details" ><a href='#/ofertas/{{of.id}}'>Ver más</a></div>
                    </div>
                </div>
                <div id="pager">
                    <uib-pagination total-items="oferta.length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false"></uib-pagination>
                </div>
            </div>
        </div>
    </div>



</section>
