<br>
<div id="contenedor">
    <div class="row">
        <div class="col-md-3">Filter:
            <input type="text" id="filter" ng-model="search" placeholder="Filter" class="form-control" />
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-md-12" ng-show="list.length > 0">
            <nav class= "navbar navbar-default" role= "navigation" >
                <div class= "navbar-header" >
                    <a class="btn btn-lg btn-success" href="#/user/alta"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new User</a>
                </div>
            </nav>

            <table class="table table-striped table-bordered">
                <thead>
                <th>Usuario&nbsp;<a ng-click="sort_by('usuario');"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th>Email&nbsp;<a ng-click="sort_by('email');"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th>Nombre&nbsp;<a ng-click="sort_by('nombre');"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th>Apellidos&nbsp;<a ng-click="sort_by('apellidos');"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th>DNI&nbsp;<a ng-click="sort_by('dni');"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th>Tipo&nbsp;<a ng-click="sort_by('tipo');"><i class="glyphicon glyphicon-sort"></i></a></th>
                <th>Action&nbsp;</th>
                </thead>
                <tbody>
                    <tr ng-repeat="data in filteredlist | filter:search | orderBy : predicate :reverse track by $index">
                        <td>{{data.usuario}}</td>
                        <td>{{data.email}}</td>
                        <td>{{data.nombre}}</td>
                        <td>{{data.apellidos}}</td>
                        <td>{{data.dni}}</td>
                        <td>{{data.tipo}}</td>
                        <td><a href="#/admin/edit/{{data.usuario}}" class="btn">&nbsp;
                                <i class="glyphicon glyphicon-edit"></i>&nbsp; Edit User</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <span ng-show="messageFailure">{{messageFailure}}</span>

        <div class="col-md-12" ng-show="list.length == 0">
            <div class="col-md-12">
                <h4>No users found</h4>
            </div>
        </div>

        <div class="col-md-12" ng-show="list.length > 0">    
            <uib-pagination total-items="list.length" ng-model="currentPage" max-size="entryLimit" class="pagination-sm" boundary-link-numbers="true" rotate="false"></uib-pagination>
        </div>
    </div>
</div>

