<!-- Modal -->
<!--<div class="modal fade" id="modalLog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">-->
            <div class="modal-header">


                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Acceder</h4>
            </div>
            <div class="modal-body">
                <form id="login_form" name="login_form" class="form-contact">

                    <div class="control-group">
                        <input type="text" required id="user" name="user" ng-model="form.user" placeholder="Usuario" class="input-block-level" dir="auto" maxlength="100">
                        {{erroruser}}
                    </div>
                    <div class="control-group">
                        <input required type="password" id="pass" name="pass" ng-model="form.pass" placeholder="Contraseña" class="input-block-level" maxlength="100">
                        <span class='error' ng-show="err"> {{errorpass}}</span>
                    </div>

                    <input class="btn btn-primary" type="submit" name="submitLog" id="submitLog" ng-click="login()" ng-show="login_form.user.$valid && login_form.pass.$valid" value="Enviar" />
                </form>
                <div class="separator"><p>Ó</p></div>
                <div class="social form-contact">

                    <ul class="icons log">
                        <li>
                            <a class="icon rounded fa-facebook" id="fb" ng-click='loginFb()' ><span class="label">Facebook</span></a>
                        </li>

                        <li>
                            <a class="icon rounded fa-twitter" id="twlogin" ng-click='loginTw()' ><span class="label">Twitter</span></a>
                        </li>


                    </ul>

                </div>
                <div class="form-contact reg ">
                    <p>¿Aun no te has registrado? Hazlo <a href="#/user/alta/" id="linkReg">aquí</a></p>
                    <p><a href="#/user/recuperar/" id="linkRest">¿Has olvidado tu contraseña?</a></p>
                </div>

            </div>
        
        <div class="modal-footer"><div class="8u 12u$(medium)">
                <div class="copyright">&copy; 2016 JoinElderly. All rights reserved.</div>
            </div>
        </div><!--</div>
    </div>-->




