<br /> <br />
<!--- Lateral Izquierdo --->
<form id="profile_form" name="profile_form" class="form-perfil">
    <br />
    <div id="contenido" class="row">
        <div class=" izq">
            <div class="control-group">
                <label class="nombre pefil">Nombre:</label>
                <p>
                    <input type="text" required id="inputName" ng-model="user.nombre" name="inputName" placeholder="Nombre"  class="form-control" dir="auto" ng-minlength="2" maxlength="100">
                    <span class='error' ng-show="!profile_form.inputName.$valid && profile_form.inputName.$error.required && (profile_form.inputName.$dirty || profile_form.inputName.$touched)" >Nombre no válido</span>
                </p>
            </div>
            <div class="control-group">
                <label class="pefil">Apellidos:</label>
                <p>
                    <input type="text" required ng-minlength="3" id="inputSurn" ng-model="user.apellidos" name="inputSurn" placeholder="Apellidos" class="form-control" dir="auto" maxlength="100">
                    <span class='error' ng-show="!profile_form.inputSurn.$valid && profile_form.inputSurn.$error.required && (profile_form.inputSurn.$dirty || profile_form.inputSurn.$touched)" >Ingrese sus apellidos</span>
                </p>
            </div>
            <div class="control-group">
                <label class="pefil">Fecha de Nacimiento:</label>
                <p>
                    <input type="text" calendar required id="inputBirth" ng-model="user.date_birthday" name="inputBirth" ng-pattern="/(0[1-9]|1[0-9]|2[0-9]|3[01])/(0[1-9]|1[012])/[0-9]{4}/" class="form-control" dir="auto" maxlength="100">
                    <span class='error' ng-show="!profile_form.inputBirth.$valid && profile_form.inputBirth.$error.required && (profile_form.inputBirth.$dirty || profile_form.inputBirth.$touched)" >Fecha de nacimiento no válida</span>
                </p>
            </div>
            <div class="control-group">
                <label class="pefil">Contraseña:</label>
                <p>
                    <input required type="password" ng-model="user.password" id="inputPass" name="inputPass" placeholder="Contraseña" class="form-control" dir="auto" ng-minlength="6" maxlength="100">
                    <span class='error' ng-show="!profile_form.inputPass.$valid && profile_form.inputPass.$error.required && (profile_form.inputPass.$dirty || profile_form.inputPass.$touched)" >Contraseña muy pequeña, mínimo 6 carácteres</span>

                </p>
            </div>

            <div class="control-group">
                <label class="pefil">Nº cuenta bancaria:</label>
                <p>
                    <input required type="text" id="inputBank" ng-model="user.bank" name="inputBank" class="form-control" dir="auto" maxlength="100">
                    <span class="text-danger" ng-show="profile_form.inputBank.$error.required && (profile_form.inputBank.$dirty || profile_form.inputBank.$touched)">El campo es obligatorio</span>
                </p>
            </div>

        </div>
        <!--- Centro --->
        <div class="center">
            <br>
            <h1 class="form-profile-heading" id="username">{{user.usuario}}</h1>
            <img id="avatar_user" src="{{user.avatar}}" />

            <div class="msg" ></div>
            <br/>
            <button id="dropzone" dropzone="dropzoneConfig" class="dropzone"></button>

            <br />
            <p>
                <input class="submit_user" type="button" ng-click="submit()" name="submit" id="submitBtn_user" value="Guardar" />
            </p>
        </div>
        <!--- Lateral Derecho --->
        <div class=" der">
            <label class="email pefil">Email:</label>
            <p>
                <input required type="text" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i" id="inputEmail" ng-disabled="{{controlmail}}" ng-model="user.email" name="inputEmail" placeholder="Email" class="form-control" maxlength="100">
                <span class='error' ng-show="!profile_form.inputEmail.$valid && profile_form.inputEmail.$error.required && (profile_form.inputEmail.$dirty || profile_form.inputEmail.$touched)" >Email no válido</span>
            </p>
            <label class="pefil">DNI:</label>
            <p>
                <input required type="text" id="inputDni" ng-disabled="{{controldni}}" ng-model="user.dni" name="inputDni" placeholder="DNI" class="form-control" dir="auto" maxlength="100">
                <span class='error' ng-show="!profile_form.inputDni.$valid && profile_form.inputDni.$error.required && (profile_form.inputDni.$dirty || profile_form.inputDni.$touched)" >Dni no válido</span>
            </p>
            <div class="control-group">
                <label class="pefil">Pais:</label>
                <p>
                    <select  id="pais" name="pais" ng-model="user.pais" ng-change="resetPais()">

                    </select>

                </p>
            </div>
            <div class="control-group">
                <label class="pefil">Provincia:</label>
                <p>
                    <select id="provincia" name="provincia" ng-model="user.provincia" ng-change="resetValues()" ng-disabled="user.pais!='ES'">
                        <!--<option value="provincia.sName" ng-repeat="provincia in provincias" >{{provincia.sName}}</option>-->
                    </select>
                </p>
            </div>
            <div class="control-group">
                <label class="pefil">Poblacion:</label>
                <p>
                    <select id="poblacion" name="poblacion" ng-model="user.poblacion" ng-disabled="user.pais!='ES'"></select>
                </p>
            </div>
        </div>
    </div>
</form>







